@font-face {
  font-family: 'RF Tone';
  src: local("RF Tone Light"), local("RF-Tone-Light"), url("../fonts/RFTone-Light.woff2") format("woff2"), url("../fonts/RFTone-Light.woff") format("woff"), url("../fonts/RFTone-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local("RF Tone Regular"), local("RF-Tone-Regular"), url("../fonts/RFTone-Regular.woff2") format("woff2"), url("../fonts/RFTone-Regular.woff") format("woff"), url("../fonts/RFTone-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local("RF Tone SemiBold"), local("RF-Tone-SemiBold"), url("../fonts/RFTone-SemiBold.woff2") format("woff2"), url("../fonts/RFTone-SemiBold.woff") format("woff"), url("../fonts/RFTone-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RF Tone';
  src: local("RF Tone ExtraBold"), local("RF-Tone-ExtraBold"), url("../fonts/RFTone-ExtraBold.woff2") format("woff2"), url("../fonts/RFTone-ExtraBold.woff") format("woff"), url("../fonts/RFTone-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1%;
}

@media (max-width: 992px) {
  .container {
    max-width: 95%;
  }
  .hormone .container {
    max-width: 100%;
    padding: 0;
  }
}

html {
  font-size: 10px;
}

@media (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 6px;
  }
}

b {
  color: #B264F0;
}

ul {
  padding: 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 20px 60px;
  background: linear-gradient(270deg, #6E25A9 12.6%, #862AF1 100%);
  background-position: 0 0;
  border-radius: 100px;
  font-family: 'RF Tone';
  font-weight: 800;
  font-size: 2.5rem;
  color: #ffffff;
  border: 1px solid #6E25A9;
}

.button:hover {
  animation: buttonHover 0.5s  linear;
  background: linear-gradient(270deg, #6E25A9 12.6%, #862AF1 100%);
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  display: none;
}

.menu-btn span {
  width: 30px;
  height: 3px;
  background-color: #6E25A9;
}

.menu-btn.close span {
  transform: rotate(0deg) translate(0, 0);
  transition: 0.2s;
}

.menu-btn.close span:nth-child(1) {
  display: block;
  transform: rotate(45deg) translate(-7px, -7px);
  transform-origin: left;
  width: 35px;
}

.menu-btn.close span:nth-child(2) {
  display: none;
}

.menu-btn.close span:nth-child(3) {
  display: block;
  transform: rotate(-45deg);
  transform-origin: left;
  width: 35px;
}

@media (max-width: 576px) {
  .menu-btn {
    display: flex;
    order: 3;
    align-self: center;
    margin-left: 10px;
  }
}

.lock {
  overflow: hidden;
}

@keyframes buttonHover {
  100% {
    background-position: 305px 0;
  }
}

@keyframes menuRight {
  0% {
    opacitty: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    transform: rotate(0);
  }
}

@keyframes fill-4 {
  5% {
    background-color: #fff;
  }
  20% {
    background-color: #C785FC;
  }
  100% {
    background-color: #C785FC;
  }
}

@keyframes fill-3 {
  20% {
    background-color: #fff;
  }
  35% {
    background-color: #C785FC;
  }
  100% {
    background-color: #C785FC;
  }
}

@keyframes fill-2 {
  35% {
    background-color: #fff;
  }
  50% {
    background-color: #C785FC;
  }
  100% {
    background-color: #C785FC;
  }
}

@keyframes fill-1 {
  50% {
    background-color: #fff;
  }
  55% {
    background-color: #C785FC;
  }
  100% {
    background-color: #C785FC;
  }
}

@keyframes empty-1 {
  5% {
    background-color: #C785FC;
  }
  20% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes empty-2 {
  20% {
    background-color: #C785FC;
  }
  35% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes empty-3 {
  35% {
    background-color: #C785FC;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes empty-4 {
  50% {
    background-color: #C785FC;
  }
  65% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.navigation {
  display: grid;
  grid-template: 100% / 20% 63% 16%;
  grid-gap: 10px;
}

.navigation__logo {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
}

.navigation__logo img {
  width: 100%;
}

.navigation-menu {
  grid-area: 1 / 2 /2 / 3;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-menu__link {
  text-decoration: none;
  font-family: 'RF Tone';
  font-weight: 300;
  color: #000000;
  font-size: 1.9rem;
}

.navigation-menu__link::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #B38FCF;
  transform-origin: right;
  transform: translateY(10px) scale(0);
  transition: 1s;
}

.navigation-menu__link:hover::after {
  transform: translateY(10px) scale(1);
}

.navigation-menu__link::before {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #B38FCF;
  transform-origin: left;
  transform: translateY(-10px) scale(0);
  transition: 1s;
}

.navigation-menu__link:hover::before {
  transform: translateY(-10px) scale(1);
}

.navigation-contacts {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-contacts-phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  justify-content: center;
}

.navigation-contacts-phone__number {
  font-family: 'RF Tone';
  font-weight: 800;
  font-size: 2.2rem;
  color: #403E3E;
  white-space: nowrap;
}

.navigation-contacts-social {
  display: flex;
  justify-content: center;
}

.navigation-contacts-social__link {
  width: 80%;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .navigation {
    grid-template: 80% 20% /30% 20% 50%;
    grid-gap: 2px;
  }
  .navigation__logo {
    grid-area: 1/2/2/3;
  }
  .navigation-contacts {
    grid-area: 1/1/2/2;
    align-self: center;
  }
  .navigation-contacts-social {
    display: none;
  }
  .navigation-menu {
    grid-area: 2/1/3/4;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .navigation {
    display: flex;
  }
  .navigation-menu {
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100vh;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: 0.4s;
    overflow: hidden;
    z-index: 1000;
    background-color: #fff;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
  }
  .navigation-menu.open {
    opacity: 0.99;
    visibility: visible;
    transform: scale(1);
  }
  .navigation-menu.open li {
    display: block;
    animation: menuRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    animation-delay: 0.4s;
    transform: rotate(-15deg);
    transform-origin: right bottom;
  }
  .navigation-menu.open li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .navigation-menu.open li:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  .navigation-menu.open li:nth-of-type(4) {
    animation-delay: 0.7s;
  }
  .navigation-menu.open li:nth-of-type(5) {
    animation-delay: 0.8s;
  }
  .navigation-menu.open li:nth-of-type(6) {
    animation-delay: 0.9s;
  }
  .navigation-menu.open li:nth-of-type(7) {
    animation-delay: 1s;
  }
  .navigation-menu li {
    position: relative;
    opacity: 0;
  }
  .navigation-menu__link {
    display: inline-block;
    border: 1px solid #6E25A9;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 15px;
  }
  .navigation-menu__link::before {
    display: none;
  }
  .navigation-menu__link::after {
    display: none;
  }
  .navigation-menu__link:hover {
    transform: translateX(-2px);
    padding-left: 80px;
    outline: none;
  }
  .navigation-menu__link:active {
    transform: translateX(-2px);
    padding-left: 80px;
    outline: none;
  }
  .navigation-menu__link:focus {
    transform: translateX(-2px);
    padding-left: 80px;
    outline: none;
  }
  .navigation-contacts-phone__number {
    font-size: 15px;
  }
}

.hero {
  width: 100%;
  background: url(../img/hero.png) no-repeat;
  background-size: cover;
  background-position: bottom right;
  margin-top: 15vh;
  overflow: hidden;
  height: 85vh;
}

.hero-body {
  display: grid;
  grid-template: 25% 25% 25% 25%/ 60% 40%;
}

@media (max-width: 1200px) {
  .hero-body {
    grid-template: 25% 25% 25% 25%/100%;
  }
}

.hero__title {
  grid-area: 1/1/2 /2;
  text-align: center;
  font-family: 'RF Tone';
  font-weight: 800;
  font-size: 6.2rem;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__description {
  grid-area: 2 / 1 /3 /2;
  width: 80%;
  margin: auto;
  font-size: 3rem;
  color: #fdf5f5;
  font-family: 'RF Tone';
  font-weight: 400;
  text-align: center;
}

.hero-button {
  grid-area: 3/1/4/2;
  margin: auto;
}

.hero-button__continue {
  background: transparent;
  white-space: nowrap;
  margin-left: 20px;
}

.hero__opacity {
  grid-area: 4/1/5/3;
  margin-bottom: 200px;
  font-family: 'RF Tone';
  font-weight: 800;
  color: #c2c2c2;
  font-size: 29rem;
  opacity: 0.1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.02em;
}

@media (max-width: 576px) {
  .hero {
    display: block;
    height: auto;
    margin-top: 20%;
  }
  .hero-button {
    margin-top: 50px;
  }
  .hero-button__continue {
    display: none;
  }
  .hero__title {
    margin: auto;
    font-size: 25px;
  }
  .hero__description {
    width: 100%;
  }
  .hero__opacity {
    font-size: 70px;
  }
}

@media (max-width: 425px) {
  .hero {
    margin-top: 15%;
  }
}

.advantages {
  margin-top: 50px;
}

.advantages__title {
  font-size: 4.6rem;
  font-family: 'RF Tone';
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.advantages-main__point {
  display: none;
}

.advantages__img {
  width: 100%;
}

@media (max-width: 768px) {
  .advantages__img {
    display: none;
  }
  .advantages-main {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .advantages-main__point {
    display: block;
    align-items: center;
    font-size: 21px;
    font-family: 'RF Tone';
    font-weight: 300;
  }
  .advantages-main li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages-main li::before {
    content: '\2022';
    width: 2rem;
    font-weight: bold;
    display: inline-block;
    color: #6E25A9;
    font-size: 10rem;
  }
}

.point__text {
  margin-left: 20px;
}

.about {
  text-align: center;
}

.about__title {
  font-size: 5.7rem;
  color: #6E25A9;
  font-family: 'RF Tone';
  font-weight: 300;
  text-align: center;
  margin: 50px 0 70px 0;
}

.about-main {
  display: flex;
  align-items: center;
}

.about-main__img {
  width: 40%;
}

.about-main__text {
  display: block;
  width: 50%;
  padding-right: 50px;
  font-size: 3rem;
  font-family: 'RF Tone';
  font-weight: 400;
  line-height: 3.6rem;
  text-align: left;
}

@media (max-width: 768px) {
  .about-main {
    display: block;
  }
  .about-main__img {
    width: 100%;
  }
  .about-main__text {
    width: 90%;
    margin: 0 auto;
    padding: 0 1%;
  }
}

.about__button {
  margin-top: 20px;
  text-align: center;
}

.hormone {
  margin-top: 7rem;
}

.hormone-block {
  width: 100%;
  background: url("../img/hormone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.hormone-item {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  padding-top: 35rem;
  align-items: center;
}

.hormone-item:nth-child(3) {
  margin-right: 0;
}

.hormone-item__line {
  width: 80%;
  height: 23px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.hormone-item__line-1 {
  animation: fill-1 4s infinite forwards;
}

.hormone-item__line-2 {
  animation: fill-2 4s infinite forwards;
}

.hormone-item__line-3 {
  animation: fill-3 4s infinite forwards;
}

.hormone-item__line-4 {
  animation: fill-4 4s infinite forwards;
}

.hormone-item__line-empty {
  background-color: #f1f1f1;
  width: 90%;
  height: 23px;
  margin-bottom: 15px;
}

.hormone-item__line-empty-1 {
  animation: empty-1 4s infinite forwards;
}

.hormone-item__line-empty-2 {
  animation: empty-2 4s infinite forwards;
}

.hormone-item__line-empty-3 {
  animation: empty-3 4s infinite forwards;
}

.hormone-item__line-empty-4 {
  animation: empty-4 4s infinite forwards;
}

.hormone-item__big {
  font-family: 'RF Tone';
  font-weight: 800;
  color: #ffffff;
  font-size: 3.6rem;
  margin-top: 7.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .hormone-item__big {
    font-size: 14px;
  }
}

.hormone-item__small {
  font-family: 'RF Tone';
  font-weight: 800;
  color: #ffffff;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .hormone-item__small {
    font-size: 10px;
  }
}

@media (max-width: 992px) {
  .hormone-item {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .hormone-item {
    margin-right: 10px;
  }
}

.differences {
  margin-top: 7rem;
}

.differences-block {
  width: 80%;
  margin: auto;
}

.differences__title {
  width: 80%;
  font-family: 'RF Tone';
  font-weight: 300;
  font-size: 5.7rem;
  color: #6E25A9;
  margin: 0 auto;
  text-align: center;
}

.differences__title b {
  font-weight: 600;
}

.differences-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  justify-content: space-around;
}

.differences-structure-item {
  width: 300px;
  text-align: center;
}

.differences-structure-item__text {
  font-family: 'RF Tone';
  font-weight: 300;
  font-size: 2.5rem;
}

.differences-structure-item__svg {
  display: block;
  margin: 0 auto 5rem;
}

.differences__img {
  width: 100%;
  display: block;
  margin-top: 9rem;
}

.differences-composition {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.differences-composition-item {
  width: 20%;
  margin-top: -50px;
  text-align: center;
}

.differences-composition-item__title {
  font-family: 'RF Tone';
  font-weight: 800;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.differences-composition-item__text {
  font-family: 'RF Tone';
  font-weight: 400;
  font-size: 2.2rem;
}
/*# sourceMappingURL=style.css.map */