@keyframes buttonHover
    100%
        background-position: 305px 0
@keyframes fill-4
    0%
        background-color: #fff
    15%
        background-color: #C785FC
    100%
        background-color: #C785FC
@keyframes fill-3
    15%
        background-color: #fff
    30%
        background-color: #C785FC
    100%
        background-color: #C785FC
@keyframes fill-2
    30%
        background-color: #fff
    45%
        background-color: #C785FC
    100%
        background-color: #C785FC
@keyframes fill-1
    45%
        background-color: #fff
    60%
        background-color: #C785FC
    100%
        background-color: #C785FC


@keyframes empty-1
    0%
        background-color: #C785FC
    15%
        background-color: #ffffff
    100%
        background-color: #ffffff
@keyframes empty-2
    15%
        background-color: #C785FC
    30%
        background-color: #ffffff
    100%
        background-color: #ffffff
@keyframes empty-3
    30%
        background-color: #C785FC
    45%
        background-color: #ffffff
    100%
        background-color: #ffffff
@keyframes empty-4
    45%
        background-color: #C785FC
    60%
        background-color: #ffffff
    100%
        background-color: #ffffff

        
