.differences
    margin-top: 7rem
    &-block
        width: 80%
        margin: auto
    &__title
        width: 80%
        +light
        font-size: 5.7rem
        color: $primary-color
        margin: 0 auto
        text-align: center
        b
            font-weight: 600
    &-structure
        display: flex
        justify-content: center
        align-items: center
        margin-top: 15rem
        justify-content: space-around
        &-item  
            width: 300px
            height: 25rem
            align-items: center
            display: flex
            flex-direction: column
            justify-content: space-between
            &__text
                display: block
                +light
                font-size: 2.5rem
                text-align: center
            &__svg  
                display: block
                width: 40%              
    &__img
        width: 100%
        display: block
        margin-top: 9rem        
    &-composition
        width: 85%
        margin: auto
        display: flex
        justify-content: space-around   
        &-item
            width: 20%
            margin-top: -50px
            text-align: center
            &__title
                +bold
                font-size: 2.2rem
                text-transform: uppercase
            &__text
                +regular
                font-size: 2.2rem
@media ( max-width:  $sm)
    .differences
        &-block
            width: 100%
        &__title
            width: 100%
            font-size: 4.2rem
        &-structure
            &-item
                height: 20rem
                margin-right: 5px
                &:last-child
                    margin-right: 0
        &-composition
            &-item
                margin-top: -30px
                &:nth-of-type(2n+2)                    
                    margin-top: 70px
                    
    